
<li class="g videobox" id="videobox"><h3 class="r inl"><a href="">
Photo News</a></h3><table class="ts" style="margin-top:2px"><tbody>           
           
</tbody></table><!--m--></li>



<tr><td colspan="2" valign="top" width="737"><!--m--><div class="vresult">
<div class="vsc vsgv" sig="e3x"><table class="ts" style="width:auto"><tbody>
<tr><td valign="top" style="padding:7px 8px 0 0"><a id="v14105995976581728904" 
href="{0}" style="text-decoration:none"><div style="position:relative">
<img src="{0}" align="middle" border="1" height="60" id="vidthumb6" 
class="th vidthumb6" style="margin:0px 0px 0px 0px" width="80"><div 
style="margin-top:-23px;margin-right:4px;text-align:right"><img 
src="images/play_c.gif" alt="" border="0" height="20" 
style="-moz-opacity:.88;filter:alpha(opacity=88);opacity:.88" width="20"></div>
</div></a></td><td valign="top" style="padding:5px 10px 0 0"><a href="{1}" 
class="l">{2}</a> - <span><cite>{3}</cite></span><br><span class="f"><span 
class="nobr">{4}</span></span><br><div style="margin:4px 0">{5}</div></td>
</tr></tbody></table></div></div><!--n--></td></tr>


